In [65]:
import pandas as pd 
import numpy as np

In [66]:
from pathlib import Path
BASE_DIR = Path.cwd()          # ml/
DATA_DIR = BASE_DIR.parent / "data"

def load_csv(name):
    return pd.read_csv(DATA_DIR / f"{name}.csv")

In [73]:
orders=load_csv("order_level")
fact=load_csv("fact")
products=load_csv("dim_products")

In [68]:
new = fact.groupby(['order_id','order_item_id']).agg({
    'price': 'sum',                # sum the price
    'seller_id': lambda x: list(x) # collect all sellers in a list
}).reset_index()

In [77]:
fact['product_id'].describe()

count                               109132
unique                               31949
top       aca2eb7d00ea1a7b8ebd4e68314663af
freq                                   517
Name: product_id, dtype: object

In [78]:
products

,product_id,product_category_name,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,00066f42aeeb9f3007548bb9d3f33c38,perfumery,6,300,20,16,16
1,00088930e925c41fd95ebfe695fd2655,auto,4,1225,55,10,26
2,0009406fd7479715e4bef61dd91f2462,bed bath table,2,300,45,15,35
3,000b8f95fcb9e0096488278317764d19,housewares,3,550,19,24,12
4,000d9be29b5207b54e86aa1b1ac54872,watches gifts,4,250,22,11,15
...,...,...,...,...,...,...,...
32336,fff6177642830a9a94a0f2cba5e476d1,cool stuff,1,1400,42,25,15
32337,fff81cc3158d2725c0655ab9ba0f712c,health beauty,1,58,16,16,11
32338,fff9553ac224cec9d15d49f5a263411f,Fashion,3,150,16,13,11
32339,fffdb2d0ec8d6a61f0a0a0db3f25b441,computers accessories,5,150,16,4,13
32340,fffe9eeff12fcbd74a2f2b007dde0c58,toys,3,3900,43,16,11

In [81]:
fact=fact.merge(products[['product_id','product_category_name']],on='product_id',how='left')
fact.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_delivered_customer_date,order_item_id,product_id,seller_id,price,delivery_cost,review_score,review_creation_date,delivery_time,has_review,super_late,high_price,high_delivery_cost,product_category_name_x,product_category_name_y,product_category_name
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-20 23:43:48,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29,5,2017-09-21 00:00:00,7.61,True,False,False,False,cool stuff,cool stuff,cool stuff
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-05-12 16:04:24,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93,4,2017-05-13 00:00:00,16.22,True,False,True,False,pet shop,pet shop,pet shop
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-22 13:19:16,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87,5,2018-01-23 00:00:00,7.95,True,False,True,False,Furniture,Furniture,Furniture
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-14 13:32:39,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79,4,2018-08-15 00:00:00,6.15,True,False,False,False,perfumery,perfumery,perfumery
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-03-01 16:42:31,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14,5,2017-03-02 00:00:00,25.11,True,False,True,False,garden tools,garden tools,garden tools

In [91]:
fact=fact.drop(columns=['product_category_name_x','product_category_name_y'])
fact

,order_id,customer_id,order_status,order_purchase_timestamp,order_delivered_customer_date,order_item_id,product_id,seller_id,price,delivery_cost,review_score,review_creation_date,delivery_time,has_review,super_late,high_price,high_delivery_cost,product_category_name
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-20 23:43:48,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29,5,2017-09-21 00:00:00,7.61,True,False,False,False,cool stuff
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-05-12 16:04:24,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93,4,2017-05-13 00:00:00,16.22,True,False,True,False,pet shop
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-22 13:19:16,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87,5,2018-01-23 00:00:00,7.95,True,False,True,False,Furniture
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-14 13:32:39,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79,4,2018-08-15 00:00:00,6.15,True,False,False,False,perfumery
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-03-01 16:42:31,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14,5,2017-03-02 00:00:00,25.11,True,False,True,False,garden tools
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109127,fffc94f6ce00a00581880bf54a75a037,b51593916b4b8e0d6f66f2ae24f2673d,delivered,2018-04-23 13:57:06,2018-05-10 22:56:40,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,299.99,43.41,5,2018-05-11 00:00:00,17.37,True,False,True,True,housewares
109128,fffcd46ef2263f404302a634eb57f7eb,84c5d4fbaf120aae381fad077416eaa0,delivered,2018-07-14 10:26:46,2018-07-23 20:31:55,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,350.00,36.53,5,2018-07-24 00:00:00,9.42,True,False,True,True,computers accessories
109129,fffce4705a9662cd70adb13d4a31832d,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56,2017-10-28 12:22:22,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,99.90,16.95,5,2017-10-29 00:00:00,4.80,True,False,False,False,sports leisure
109130,fffe18544ffabc95dfada21779c9644f,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59,2017-08-16 21:59:40,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,55.99,8.72,5,2017-08-17 00:00:00,1.96,True,False,False,False,computers accessories
109131,fffe41c64501cc87c801fd61db3f6244,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,2018-06-14 17:56:26,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,43.00,12.79,5,2018-06-15 00:00:00,5.04,True,False,False,False,bed bath table

In [92]:
fact['product_id'].describe()

count                               109132
unique                               31949
top       aca2eb7d00ea1a7b8ebd4e68314663af
freq                                   517
Name: product_id, dtype: object

In [105]:
order_seller_fact=fact.groupby(['order_id','seller_id']).agg({
    'price':'sum',
    'delivery_cost':'sum',
    'product_category_name':'first',
    'order_purchase_timestamp':'first'
})
order_seller_fact=order_seller_fact.reset_index()
order_seller_fact

,order_id,seller_id,price,delivery_cost,product_category_name,order_purchase_timestamp
0,00010242fe8c5a6d1ba2dd792cb16214,48436dade18ac8b2bce089ec2a041202,58.90,13.29,cool stuff,2017-09-13 08:59:02
1,00018f77f2f0320c557190d7a144bdd3,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93,pet shop,2017-04-26 10:53:06
2,000229ec398224ef6ca0657da4fc703e,5b51032eddd242adc84c38acab88f23d,199.00,17.87,Furniture,2018-01-14 14:33:31
3,00024acbcdf0a6daa1e931b038114c75,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79,perfumery,2018-08-08 10:00:35
4,00042b26cf59d7ce69dfabb4e55b4fd9,df560393f3a51e74553ab94004ba5c87,199.90,18.14,garden tools,2017-02-04 13:57:51
...,...,...,...,...,...,...
96681,fffc94f6ce00a00581880bf54a75a037,b8bc237ba3788b23da09c0f1f3a3288c,299.99,43.41,housewares,2018-04-23 13:57:06
96682,fffcd46ef2263f404302a634eb57f7eb,f3c38ab652836d21de61fb8314b69182,350.00,36.53,computers accessories,2018-07-14 10:26:46
96683,fffce4705a9662cd70adb13d4a31832d,c3cfdc648177fdbbbb35635a37472c53,99.90,16.95,sports leisure,2017-10-23 17:07:56
96684,fffe18544ffabc95dfada21779c9644f,2b3e4a2a3ea8e01938cabda2a3e5cc79,55.99,8.72,computers accessories,2017-08-14 23:02:59
96685,fffe41c64501cc87c801fd61db3f6244,f7ccf836d21b2fb1de37564105216cc1,43.00,12.79,bed bath table,2018-06-09 17:00:18

In [108]:
order_seller_fact.columns

Index(['order_id', 'seller_id', 'price', 'delivery_cost',
       'product_category_name', 'order_purchase_timestamp'],
      dtype='object')

In [110]:
order_seller_fact.duplicated(['order_id','seller_id']).any()

np.False_